.form {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-bottom: 20px;
}

.input {
  border-radius: 20px;
  background-color: #dbc2cf;
  border: none;
  padding: 15px;
  font-size: 18px;
  color: #3c7a89;
}

.input::placeholder {
  color: #3c7a89;
}

.btn {
  cursor: pointer;
  font-family: inherit;
  padding: 20px;
  font-size: 18px;
  border-radius: 20px;
  border: 2px solid #dbc2cf;
  background-color: #3c7a89;
  color: #dbc2cf;
}

.btn:hover:not(:disabled),
.input:hover {
  opacity: 0.7;
}

.input:focus-visible {
  border: none;
  outline: none;
}

.btn,
.input {
  transition: opacity .3s ease;
}

.error {
  border: 1px solid red;
}

.btn:disabled {
  background-color: grey;
}