.table-wrapper {
  width: 100%;
  overflow-x: scroll;
}

.table-wrapper::-webkit-scrollbar {
  display: none;
}

.table {
  margin: 0 auto;
  font-size: 25px;
}

th,
td {
  text-align: left;
}

th {
  font-weight: 600;
  padding: 20px;
}

td {
  padding: 10px 20px;
}

@media (max-width: 500px) {
  .table {
    font-size: 18px;
  }
}